env:
  global:
    - MODULE_NAME=Dip

matrix:
  allow_failures:
    - os: linux
  include:
    - script:
        - set -o pipefail && xcodebuild test -workspace Dip.xcworkspace -scheme Dip-iOS -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=latest' ONLY_ACTIVE_ARCH=NO | xcpretty -c
        - set -o pipefail && xcodebuild test -workspace Dip.xcworkspace -scheme Dip-OSX -sdk macosx -destination 'platform=OS X,arch=x86_64' ONLY_ACTIVE_ARCH=NO | xcpretty -c
        - set -o pipefail && xcodebuild test -workspace Dip.xcworkspace -scheme Dip-tvOS -sdk appletvsimulator -destination 'platform=tvOS Simulator,name=Apple TV 1080p,OS=latest' ONLY_ACTIVE_ARCH=NO | xcpretty -c
        - set -o pipefail && xcodebuild -workspace Dip.xcworkspace -scheme Dip-watchOS -sdk watchsimulator -destination 'platform=watchOS Simulator,name=Apple Watch - 38mm,OS=latest' ONLY_ACTIVE_ARCH=NO | xcpretty - c
        - set -o pipefail && xcodebuild test -workspace Dip.xcworkspace -scheme DipSampleApp -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6,OS=latest' ONLY_ACTIVE_ARCH=NO | xcpretty -c
        - pod lib lint --quick
        - carthage build --no-skip-current
      os: osx
      osx_image: xcode7.3
      language: objective-c
    - script:
        - swift build
      os: linux
      dist: trusty
      sudo: required
      language: generic
      before_install:
        - wget -q -O - https://swift.org/keys/all-keys.asc | gpg --import -
        - cd ..
        - export SWIFT_VERSION=swift-DEVELOPMENT-SNAPSHOT-2016-05-03-a
        - wget https://swift.org/builds/development/ubuntu1404/$SWIFT_VERSION/$SWIFT_VERSION-ubuntu14.04.tar.gz
        - tar xzf $SWIFT_VERSION-ubuntu14.04.tar.gz
        - export PATH="${PWD}/${SWIFT_VERSION}-ubuntu14.04/usr/bin:${PATH}"
        - export SWIFT_RELEASE_VERSION=2.2.1
        - wget https://swift.org/builds/swift-$SWIFT_RELEASE_VERSION-release/ubuntu1404/swift-$SWIFT_RELEASE_VERSION-RELEASE/swift-$SWIFT_RELEASE_VERSION-RELEASE-ubuntu14.04.tar.gz 
        - tar xzf swift-$SWIFT_RELEASE_VERSION-RELEASE-ubuntu14.04.tar.gz
        - git clone https://github.com/apple/swift-package-manager
        - swift-package-manager/Utilities/bootstrap --swiftc "${PWD}/${SWIFT_VERSION}-ubuntu14.04/usr/bin/swiftc" --sbt "${PWD}/${SWIFT_VERSION}-ubuntu14.04/usr/bin/swift-build-tool"
        - export SWIFT_EXEC="${PWD}/swift-${SWIFT_RELEASE_VERSION}-RELEASE-ubuntu14.04/usr/bin/swiftc"
        - cd $MODULE_NAME

notifications:
  email: false
