<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Main Pilot</string>
		<key>height</key>
		<integer>175</integer>
		<key>mass</key>
		<integer>67</integer>
		<key>hairColor</key>
		<string>Dark</string>
		<key>eyeColor</key>
		<string>Brown</string>
		<key>gender</key>
		<string>male</string>
		<key>starships</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
		</array>
	</dict>
</array>
</plist>
